@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --pink-color: #a90d65;
  --secondary-color: #333;
  --bg-color: #f5f5f591;
}

body {
  background: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

.navi {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 300px;
  width: 100%;
  background: #fff;
}

.nav-bar {
  height: 60px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  .logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .nav-links {
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
  a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
  }
  h2 {
    margin-left: 10px;
    color: var(--pink-color);
    font-size: 2.5rem;
  }
}

.nav-bar .logo img {
  height: 60px;
}

.nav-bar .nav-links a:hover {
  color: var(--pink-color);
  font-weight: 600;
  border-color: var(--pink-color);
  transition: all 0.2s ease-in-out;
}

.home-section {
  /* height: calc(100vh - 80px); */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--pink-color);
  background: var(--bg-color);
  .home-img {
    background-image: url("./img/Banner images/dnt1.jpg");
    width: 1900px;
    height: 800px;
    background-size: cover;
    background-position: center;
    .home-content {
      /* width: 1525px;
      height: 600px; */
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        190deg,
        rgba(255, 192, 203, 0.692),
        rgba(0, 0, 255, 0.379)
      );
      display: flex;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .home-btn {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
      h1 {
        font-size: 3.5rem;
        font-weight: 700;
        /* background: var(--bg-color); */
        color: var(--pink-color);
        padding: 10px;
        border-radius: 10px;
      }
      p {
        font-size: 1.5rem;
        color: #212121;
        margin-top: 1rem;
        /* background: var(--bg-color); */
        border-radius: 10px;
        padding: 10px;
        font-weight: 500;
      }
      a {
        display: inline-block;
        margin-top: 1.5rem;
        padding: 0.75rem 1.5rem;
        font-size: 1.2rem;
        color: var(--pink-color);
        background-color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        font-weight: 600;
        transition: background-color 0.3s ease;
        border: 2px solid var(--pink-color);
        box-shadow: 2px 2px 10px rgba(113, 8, 67, 0.882);
        &:hover {
          color: #fff;
          background-color: var(--pink-color);
          transform: scale(1.05);
          box-shadow: 4px 4px 20px #fff;
        }
      }
    }
  }
}

.scroll-animate {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  span {
    background-image: linear-gradient(
      rgba(128, 128, 128, 0.74),
      rgba(239, 239, 239, 0.69)
    );
    border-radius: 20px;
    padding: 10px;
    font-size: 2rem;
    font-weight: 600;
  }
  i {
    font-size: 2rem;
  }
}

#myBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--pink-color); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 30px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  overflow: hidden;
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }

  .svgIcon path {
    fill: white;
  }

  .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.welcome-page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 40px;
  .welcome-heading {
    font-size: 4rem;
    color: var(--pink-color);
    margin-bottom: 20px;
  }
  .banner {
    background-image: url("./img/Banner images/young-female-patient-visiting-dentist-office.jpg");
    background-size: cover;
    background-position: center;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgb(0, 0, 0);
    margin-bottom: 20px;
    display: flex;
  }
  .banner-gra {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      50deg,
      rgba(255, 192, 203, 0.484),
      rgba(0, 0, 255, 0.214)
    );

    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .heading {
    padding: 15px;
    font-size: 3rem;
    color: var(--pink-color);
  }
  p {
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-align: center;
    max-width: 800px;
  }
}

.why {
  margin: 50px;
  color: var(--pink-color);
  .why-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  .why-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    .cont1,
    .cont2 {
      display: flex;
      flex-direction: row;
      gap: 50px;
      .heading {
        margin-top: 10px;
        margin-left: 20px;
      }
      p {
        margin-left: 20px;
        color: #212121;
        font-weight: 500;
      }
    }
  }
  .card {
    width: 650px;
    height: 450px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 10px 10px 12px rgba(150, 2, 101, 0.441),
      -10px -10px 12px rgb(60, 60, 60);
    img {
      object-fit: cover;
      width: 650px;
      height: 450px;
      border-radius: 30px;
    }
  }
}

.services {
  .heading {
    font-size: 3rem;
    margin-left: 20px;
    color: var(--pink-color);
  }
  .cards1 {
    margin: 20px;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: var(--pink-color);
    p {
      margin: 5px;
      font-size: 1.2rem;
      color: #212121;
      font-weight: 500;
    }
  }
  .card {
    width: 400px;
    height: 250px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 10px 10px 12px rgba(150, 2, 101, 0.441),
      -10px -10px 12px rgb(60, 60, 60);
    img {
      object-fit: cover;
      width: 400px;
      height: 250px;
      border-radius: 30px;
    }
  }
  .explore-more {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .explore-more-btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: var(--pink-color);
    color: #fff;
    padding: 5px;
    padding-left: 10px;
    border-radius: 15px;
    margin: 10px;
    box-shadow: 5px 5px 10px rgb(150, 2, 101), -5px -5px 10px rgb(60, 60, 60);
    transition: all 0.2s ease-in-out;
    a {
      color: #fff;
      text-decoration: none;
    }
    i {
      align-self: center;
      padding: 10px;
      font-size: 1.5rem;
    }
    &:hover {
      transform: scale(1.03);
      color: var(--pink-color);
      a {
        color: var(--pink-color);
      }
      background: #fff;
    }
  }
}

.testimonials {
  margin: 10px;
  padding: 10px;
}

.testimonials h1 {
  margin: 20px;
  font-size: 2.5rem;
  color: var(--pink-color);
}

@layer base, demo;
@import url(https://fonts.bunny.net/css?family=abel:400);

@layer demo {
  .carousel {
    --items: 6;
    --carousel-duration: 40s;
    @media (width > 600px) {
      --carousel-duration: 30s;
    }
    --carousel-width: min(
      80vw,
      1200px
    ); /* note - it will "break" if it gets too wide and there aren't enough items */
    --carousel-item-width: 280px;
    --carousel-item-height: 200px;
    --carousel-item-gap: 2rem;

    --clr-cta: rgb(0, 132, 209);

    position: sticky;
    width: var(--carousel-width);
    height: var(--carousel-item-height);
    overflow: clip;

    &[mask] {
      /* fade out on sides */
      mask-image: linear-gradient(
        to right,
        transparent,
        black 10% 90%,
        transparent
      );
    }

    &[reverse] > article {
      animation-direction: reverse;
    }
    /* hover pauses animation */
    &:hover > article {
      animation-play-state: paused;
    }
  }
  .carousel > article {
    position: absolute;
    top: 0;
    left: calc(100% + var(--carousel-item-gap));
    width: var(--carousel-item-width);
    height: var(--carousel-item-height);
    gap: 5px;
    border: 1px solid light-dark(rgba(0 0 0 / 0.25), rgba(255 255 255 / 0.15));

    padding-block-end: 1rem;
    border-radius: 10px;

    /* animation */
    will-change: transform;
    animation-name: marquee;
    animation-duration: var(--carousel-duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(
      var(--carousel-duration) / var(--items) * 1 * var(--i) * -1
    );
    &:nth-child(1) {
      --i: 0;
    }
    &:nth-child(2) {
      --i: 1;
    }
    &:nth-child(3) {
      --i: 2;
    }
    &:nth-child(4) {
      --i: 3;
    }
    &:nth-child(5) {
      --i: 4;
    }
    &:nth-child(6) {
      --i: 5;
    }
    &:nth-child(7) {
      --i: 6;
    }
    &:nth-child(8) {
      --i: 7;
    }
  }

  @keyframes marquee {
    100% {
      transform: translateX(
        calc(
          (
              var(--items) *
                (var(--carousel-item-width) + var(--carousel-item-gap))
            ) * -1
        )
      );
    }
  }
}

/* general styling */
@layer base {
  * {
    box-sizing: border-box;
  }
  .img-carousel {
    justify-content: center;
    min-height: 200px;
    margin: 20px;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    display: grid;
    place-items: center;
    background: #fff;
    gap: 2rem;
  }
}

.img-carousel article {
  box-shadow: 3px 3px 2px 2px rgba(143, 4, 85, 0.496);
  height: 200px;
}

.img-carousel article div p {
  font-size: 0.9rem;
  color: #212121;
  margin: 5px;
  font-weight: 500;
}

.img-carousel article h2 {
  margin: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--pink-color);
}

.clinic-fac {
  margin: 20px;
  .heading {
    font-size: 2.5rem;
    color: var(--pink-color);
  }
  .card-fac {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
    margin: 40px;
    padding: 20px;
    align-items: center;
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 270px;
      height: 250px;
      border-radius: 1rem;
      background-color: #ffffff;
      border: 3px solid var(--pink-color);
      box-shadow: 10px 10px 12px var(--pink-color);
      &:hover {
        transform: scale(1.05);
        transition: all 0.3s ease;
      }
      img {
        width: 100px;
      }
      h3 {
        font-size: 1rem;
      }
    }
  }
}

.faq {
  margin: 20px;
  .heading {
    font-size: 3rem;
    color: var(--pink-color);
    margin-bottom: 20px;
  }
  .faq-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .faq-item {
      background: #fff;
      border-radius: 10px;
      padding: 15px;
      box-shadow: 2px 4px 8px rgb(0, 0, 0);
      h3 {
        font-size: 1.5rem;
        color: var(--pink-color);
        margin-bottom: 10px;
      }
      p {
        font-size: 1.2rem;
        color: #212121;
        font-weight: 500;
      }
    }
  }
  a {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    color: var(--pink-color);
    background-color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
    border: 2px solid var(--pink-color);
    box-shadow: 2px 2px 10px rgba(113, 8, 67, 0.882);
    &:hover {
      color: #fff;
      background-color: var(--pink-color);
      transform: scale(1.05);
      box-shadow: 4px 4px 20px #fff;
    }
  }
}

footer {
  background-color: var(--pink-color);
  color: #fff;
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .address {
    margin: 20px;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    a {
      text-decoration: none;
      color: #fff;
      &:hover {
        color: black;
      }
    }
  }
  .key-treatments {
    display: flex;
    margin: 20px;
    flex-direction: column;
    gap: 10px;
    font-size: 1rem;
  }
  .social-icons {
    ul {
      list-style: none;
    }

    .example-1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bolder; /* Made bolder */
      background-color: #000; /* Black background */
      border-radius: 30px; /* Added border-radius to make the container rounded */
      padding: 20px; /* Added padding for better appearance */
      height: 70px;
      width: 300px;
    }

    .example-1 .icon-content {
      margin: 0 10px;
      position: relative;
      font-weight: bolder; /* Made bolder */
    }

    .example-1 .icon-content .tooltip {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff; /* White background */
      color: #000; /* Black text */
      padding: 6px 10px;
      border-radius: 5px;
      opacity: 0;
      visibility: hidden;
      font-size: 14px;
      transition: all 0.3s ease;
      font-weight: bolder; /* Made bolder */
    }

    .example-1 .icon-content:hover .tooltip {
      opacity: 1;
      visibility: visible;
      top: -50px;
    }

    .example-1 .icon-content .link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: #fff; /* White icons */
      background-color: #000; /* Black background */
      transition: all 0.3s ease-in-out;
      font-weight: bolder; /* Made bolder */
    }

    .example-1 .icon-content .link:hover {
      box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
    }

    .example-1 .icon-content .link svg {
      width: 30px;
      height: 30px;
      fill: #fff; /* White icons */
    }

    .example-1 .icon-content .link[data-social="spotify"]:hover {
      color: #00a2ff;
    }

    .example-1 .icon-content .link[data-social="pinterest"]:hover {
      color: #ff009d;
    }

    .example-1 .icon-content .link[data-social="dribbble"]:hover {
      color: #686868;
    }

    .example-1 .icon-content .link[data-social="telegram"]:hover {
      color: #23b100;
    }
  }
}

.main-treatments {
  .heading {
    font-size: 3rem;
    margin-left: 20px;
    color: var(--pink-color);
  }
  .treatments-cards {
    margin: 20px;
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    color: var(--pink-color);
    p {
      margin: 5px;
      font-size: 1.2rem;
      color: #212121;
      font-weight: 500;
    }
  }
}
.main-about-us {
  .heading {
    font-size: 3rem;
    margin-left: 20px;
    color: var(--pink-color);
  }
  img {
    border-radius: 20px;
    box-shadow: 2px 4px 8px rgb(0, 0, 0);
    width: 420px;
    margin: 20px;
  }
  h1 {
    color: var(--pink-color);
    margin: 20px;
  }
  .about-us {
    margin: 30px;
    p {
      font-size: 1.2rem;
      color: #212121;
      font-weight: 500;
    }
    ul {
      margin-left: 40px;
      font-size: 1.2rem;
      color: #212121;
      font-weight: 500;
    }
  }
}

.top {
  display: flex;
}

.main-contact-us {
  .heading {
    font-size: 3rem;
    margin-left: 20px;
    color: var(--pink-color);
  }
  .orange {
    color: #ff01ea;
  }

  .form-container {
    max-width: 700px;
    margin: 30px;
    background-color: #001925;
    padding: 30px;
    border-left: 5px solid #ff01ff;
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%
    );
  }

  .heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
  }

  .form-container .form .input {
    color: #fff;
    width: 100%;
    background-color: #002733;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
  }

  .form-container .form .input:focus {
    border-left: 5px solid #ff01ea;
  }

  .form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #013747;
    color: #ff01e1;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }

  .form-container .form .textarea:focus {
    border-left: 5px solid #ff01cc;
  }

  .form-container .form .button-container {
    display: flex;
    gap: 10px;
  }

  .form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #ff01d9;
    padding: 10px;
    color: #001925;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
  }

  .form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #ff01f7;
    color: #ff01dd;
  }

  .form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #ff01cc);
    flex-basis: 30%;
  }

  .form-container
    .form
    .button-container
    .reset-button-container
    .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #ff01d5;
    font-weight: bold;
    background: #001925;
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 10px),
      calc(100% - 10px) 100%,
      0 100%
    );
    transition: all 0.2s ease-in-out;
  }

  .form-container
    .form
    .button-container
    .reset-button-container
    .reset-button:hover {
    background: #ff01a6;
    color: #001925;
  }
}

.reach-us {
  margin: 20px;
  .heading {
    font-size: 3rem;
    color: var(--pink-color);
    margin-bottom: 20px;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.privacy-policy {
  margin: 20px;
  padding: 20px;
  color: #212121;
  font-weight: 500;
  p {
    margin-bottom: 15px;
  }
  h1 {
    color: var(--pink-color);
    margin-bottom: 15px;
  }
  h2 {
    color: var(--pink-color);
    margin-bottom: 10px;
  }
}
